<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head">
        <!-- META SECTION -->
        <title>TITLE</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link id="theme" href="#" th:href="@{/css/theme-default.css}" rel="stylesheet" />
        
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar" th:fragment="page-sidebar" style="height:900px;">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="index.html">PM TOOL</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>                                                                      
                    <li class="xn-title">Navigation</li>
					<li class="xn-openable active">
						
                        <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Projects</span></a>
                        <ul>
                            <li><a href="" th:href="@{/projects/createproject}"><span class="fa fa-image"></span> Create Project</a></li>
                            <li><a href="#" th:href="@{/projects/__${username}__/}"><span class="fa fa-user"></span> Manage Projects</a></li>
                            <li class="xn-openable">
                                <a href="#"><span class="fa fa-clock-o"></span> Budget</a>
                                <ul>
                                    <li><a href="pages-timeline.html"><span class="fa fa-align-center"></span> Default</a></li>
                                    <li><a href="pages-timeline-simple.html"><span class="fa fa-align-justify"></span> Full Width</a></li>
                                </ul>
                            </li>                           
                        </ul>
                    </li>       
                    
                    <li class="xn-openable active">
						
                        <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Tasks</span></a>
                        <ul>
                            <li><a href="" th:href="@{/tasks/project/yourprojects/}"><span class="fa fa-image"></span>Tasks Panel</a></li>
                            <li><a href="#" th:href="@{/tasks/project/yourprojects/}"><span class="fa fa-user"></span> Manage Project</a></li>
                            <li class="xn-openable">
                                <a href="#"><span class="fa fa-clock-o"></span> Budget</a>
                                <ul>
                                    <li><a href="pages-timeline.html"><span class="fa fa-align-center"></span> Default</a></li>
                                    <li><a href="pages-timeline-simple.html"><span class="fa fa-align-justify"></span> Full Width</a></li>
                                </ul>
                            </li>                           
                        </ul>
                    </li> 
                    
                    <li class="xn-openable active">
						
                        <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Resources</span></a>
                        <ul>
                           <li><a href="" th:href="@{/users/show/}"><span class="fa fa-image"></span> Manage users/resources</a></li>
                        
                            <li><a href="" th:href="@{/projects/createproject}"><span class="fa fa-image"></span> Create Project</a></li>
                            <li><a href="#" th:href="@{/projects/__${username}__/}"><span class="fa fa-user"></span> Manage Project</a></li>
                            <li class="xn-openable">
                                <a href="#"><span class="fa fa-clock-o"></span> Budget</a>
                                <ul>
                                    <li><a href="pages-timeline.html"><span class="fa fa-align-center"></span> Default</a></li>
                                    <li><a href="pages-timeline-simple.html"><span class="fa fa-align-justify"></span> Full Width</a></li>
                                </ul>
                            </li>                           
                        </ul>
                    </li> 
                    
                                                    
                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->                    
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Link</a></li>                    
                    <li class="active">Active</li>
                </ul>
                <!-- END BREADCRUMB -->                
                
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Page Title</h2>
                </div>                   
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel Title</h3>
                                </div>
                                <div class="panel-body">
                                    Panel body
                                </div>
                            </div>

                        </div>
                    </div>
                
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
		<footer th:fragment="footer">
		<div class="row">
			<span>Pere Badia</span>
		</div>
        <!-- START PRELOADS -->
        <audio id="audio-alert" src="/audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="/audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->                 
        
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        
        	<script th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
        <script th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script>
             
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->

        <!-- END PAGE PLUGINS -->         

        <!-- START TEMPLATE -->
        	<script th:src="@{/js/settings.js}"></script>
        	<script th:src="@{/js/plugins.js}"></script>
        	<script th:src="@{/js/actions.js}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->   
    </footer>      
    </body>
</html>


        
        
        



