<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
	<!-- START PAGE CONTAINER -->
	<div class="page-container">

		<!-- START PAGE SIDEBAR -->
		<!-- START PAGE SIDEBAR -->
		<div th:replace="layout/layout :: page-sidebar"></div>
		<!-- END PAGE SIDEBAR -->
		<!-- END PAGE SIDEBAR -->

		<!-- PAGE CONTENT -->
		<div class="page-content sortableContent" id="grid_content_1">

			<!-- START X-NAVIGATION VERTICAL -->
			<ul th:replace="layout/layout :: page-topbar"></ul>
			<!-- END X-NAVIGATION VERTICAL -->

			<!-- START BREADCRUMB -->
			<ul class="breadcrumb">
				<li><a href="#">pmtool</a></li>
				<li class="active">kanban</li>
			</ul>
			<!-- END BREADCRUMB -->

			<!-- PAGE TITLE -->
			<div class="page-title">
				<h2>
					<span class="fa fa-arrow-circle-o-left"></span> Kanban Tasks
				</h2>
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" data-toggle="modal" data-target="#create_task_modal">Create Task</button>
			</div>
			<!-- END PAGE TITLE -->

			<br/>
			<!-- PAGE CONTENT WRAPPER -->
			<div class="page-content-wrap">
				<!-- START PORTLET -->
				<div class="row scRow col-md-12">
					<table id="tableTasks">
						<thead >
							<tr class="theadTasks">
								<th><h3>BackLog</h3></th>
								<th><h3>To Do</h3></th>
								<th><h3>In progress</h3></th>
								<th><h3>Done</h3></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="col-md-3 scCol droptarget" id="backlog" name="backlog" data-task_status="backlog" style="vertical-align: top;">
									<div class="panel panel-danger" draggable="true"
										th:value="${backlog.id}" th:name="${backlog.id}"
										th:attr="data-id_task=${backlog.id}, data-task_currentStatus=${backlog.status}"
										th:each="backlog : ${backlogs}">
										<div class="panel-heading">
											<h3 class="panel-title">
												<span th:text="${backlog.summary}"></span>
											</h3>
			
											<ul class="panel-controls">
												<li><a href="javascript: void();" class="showBacklogmodal" th:id="'showBacklogModal_' + ${backlog.id}"
													th:attr="data-idTask=${backlog.id}"> <span
														class="glyphicon glyphicon-pencil"></span>
												</a></li>
											</ul>
										</div>
										<div class="panel-body">
											<input type="hidden" th:value="${backlog.getCommentsJSON()}" th:id="'comments_' + ${backlog.id}" />	
											<input type="hidden" th:if="${backlog.user}" th:value="${backlog.user.username}" th:id="'userassigned_' + ${backlog.id}" />
											
											<span th:text="${backlog.details}"></span>
										</div>
										<div class="panel-footer" th:if="${backlog.user}">
											<div class="pull-right">
												<strong>Assigned to: &nbsp;</strong> <a><span
													th:text="${backlog.user.name}"></span></a>
											</div>
										</div>
									</div>
								</td>
			
								<td class="col-md-3 scCol droptarget" id="todo" name="todo"
									data-task_status="todo" style="vertical-align: top;" >
			
									<div class="panel panel-warning" draggable="true"
										th:value="${todo.id}" th:name="${todo.id}"
										th:attr="data-id_task=${todo.id}, data-task_currentStatus=${todo.status}" th:each="todo : ${todos}">
										<div class="panel-heading">
											<h3 class="panel-title">
												<span th:text="${todo.summary}"></span>
											</h3>
			
											<ul class="panel-controls">
												<li><a href="javascript: void();" class="showAJAXmodal"
													th:attr="data-idTask=${todo.id}"> <span
														class="glyphicon glyphicon-pencil"></span>
												</a></li>
											</ul>
										</div>
										<div class="panel-body">
											<input type="hidden" th:value="${todo.estimatedhours}"
												th:id="estimatedhours_ + ${todo.id}" /> 
											<input type="hidden"
												th:value="${todo.hours}" th:id="hours_ + ${todo.id}" /> 
											<input
												type="hidden" th:value="${todo.realvsestimated}"
												th:id="realvsestimated_ + ${todo.id}" /> 
											<input type="hidden" th:value="${todo.getCommentsJSON()}" th:id="'comments_' + ${todo.id}" />	
											
												<span
												th:text="${todo.details}"></span>
										</div>
										<div class="panel-footer">
											<div class="panel-body panel-body-table">
												<div class="table-responsive">
													<div class="row">
														<div class="progress-list">
															<div class="pull-left">
																<strong>Hours</strong>
															</div>
															<div class="pull-right">
																<span th:text="${todo.estimatedhours}"></span>/
																<span th:text="${todo.hours}"></span>
															</div>
															<div class="progress progress-small progress-striped active">
																<div class="progress-bar progress-bar-primary"
																	role="progressbar"
																	th:style="'width:'+${todo.realvsestimated}+'%;'"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="pull-right">
												<strong>Assigned to: &nbsp;</strong> <a>
												<span th:text="${todo.user.name}" th:if="${todo.user}"></span>
												</a>
											</div>
										</div>
									</div>
								</td>
			
								<td class="col-md-3 scCol droptarget" id="progress"
									name="progress" data-task_status="progress" style="vertical-align: top;" >
			
									<div class="panel panel-info" draggable="true"
										th:value="${progress.id}" th:name="${progress.id}"
										th:attr="data-id_task=${progress.id}, data-task_currentStatus=${progress.status}"
										th:each="progress : ${progresses}">
										<div class="panel-heading">
											<h3 class="panel-title">
												<span th:text="${progress.summary}"></span>
											</h3>
			
											<ul class="panel-controls">
												<li><a href="javascript: void();" class="showAJAXmodal"
													th:attr="data-idTask=${progress.id}"> <span
														class="glyphicon glyphicon-pencil"></span>
												</a></li>
											</ul>
										</div>
										<div class="panel-body">
											<input type="hidden" th:value="${progress.estimatedhours}"
												th:id="estimatedhours_ + ${progress.id}" /> 
											<input type="hidden"
												th:value="${progress.hours}" th:id="hours_ + ${progress.id}" /> 
											<input
												type="hidden" th:value="${progress.realvsestimated}"
												th:id="realvsestimated_ + ${progress.id}" />
											<input type="hidden" th:value="${progress.getCommentsJSON()}" th:id="'comments_' + ${progress.id}" />	
										
											<span th:text="${progress.details}"></span>
										</div>
										<div class="panel-footer">
											<div class="panel-body panel-body-table">
												<div class="table-responsive">
													<div class="row">
														<div class="progress-list">
															<div class="pull-left">
																<strong>Hours</strong>
															</div>
															<div class="pull-right">
																<span th:text="${progress.estimatedhours}"></span>/<span th:text="${progress.hours}"></span>
															</div>
															<div class="progress progress-small progress-striped active">
																<div class="progress-bar progress-bar-primary"
																	role="progressbar"
																	th:style="'width:'+${progress.realvsestimated}+'%;'"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="pull-right">
												<strong>Assigned to: &nbsp;</strong> <a>
			  									<span th:text="${progress.user.name}" th:if="${progress.user}" ></span>
												</a>
											</div>
										</div>
									</div>
								</td>
			
								<td class="col-md-3 scCol droptarget" id="done" name="done"
									data-task_status="done" style="vertical-align: top;" >
			
									<div class="panel panel-success" draggable="true"
										th:value="${done.id}" th:name="${done.id}"
										th:attr="data-id_task=${done.id}, data-task_currentStatus=${done.status}" th:each="done : ${dones}">
										<div class="panel-heading">
											<h3 class="panel-title">
												<span th:text="${done.summary}"></span>
											</h3>
											
											<ul class="panel-controls">
												<li><a href="javascript: void();" class="showAJAXmodal"
													th:attr="data-idTask=${done.id}"> <span
														class="glyphicon glyphicon-pencil"></span>
												</a></li>
											</ul>
										</div>
										<div class="panel-body">
											<input type="hidden" th:value="${done.estimatedhours}"
												th:id="estimatedhours_ + ${done.id}" /> 
											<input type="hidden"
												th:value="${done.hours}" th:id="hours_ + ${done.id}" /> 
											<input
												type="hidden" th:value="${done.realvsestimated}"
												th:id="realvsestimated_ + ${done.id}" /> 
											<input type="hidden" th:value="${done.getCommentsJSON()}" th:id="'comments_' + ${done.id}" />	
										
											<span th:text="${done.details}"></span>
										</div>
										<div class="panel-footer">
											<div class="panel-body panel-body-table">
												<div class="table-responsive">
													<div class="row">
														<div class="progress-list">
															<div class="pull-left">
																<strong>Hours</strong>
															</div>
															<div class="pull-right">
																<span th:text="${done.estimatedhours}"></span>/<span th:text="${done.hours}"></span>
															</div>
															<div class="progress progress-small progress-striped active">
																<div class="progress-bar progress-bar-primary"
																	role="progressbar"
																	th:style="'width:'+${done.realvsestimated}+'%;'"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="pull-right">
												<strong>Assigned to: &nbsp;</strong> <a>
			 									<span th:text="${done.user.name}" th:if="${done.user}" ></span>
												</a>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<!-- END PORTLET -->

			</div>
			<!-- PAGE CONTENT WRAPPER -->
		</div>
		<!-- END PAGE CONTENT -->
	</div>
	<!-- END PAGE CONTAINER -->

	<!-- CREATE TASK MODAL -->
	<div class="modal" id="create_task_modal" tabindex="-1" role="dialog"
		aria-labelledby="#create_task_modal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="largeModalHead">Create Task</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="createtaskForm"
						name="createtaskForm" method="POST" action="#"
						th:action="@{/api/createtask/}">
						<input type="hidden" name="projectid" id="projectid"
							th:value="${projectid}" />

						<div class="form-group">
							<label class="col-md-2 control-label">Summary</label>
							<div class="col-md-10">
								<input class="form-control" id="summary" name="summary"
									type="text" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Task Details</label>
							<div class="col-md-10">
								<textarea class="form-control" id="details" name="details"
									rows="5"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Estimated time</label>
							<div class="col-md-10">
								<select class="form-control select" id="time" name="time"
									data-live-search="true">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Estimated unit</label>
							<div class="col-md-10">
								<select class="form-control select" id="unit" name="unit"
									data-live-search="true">
									<option value="1">hours</option>
									<option value="8">days</option>
									<option value="40">weeks</option>
								</select>
							</div>
						</div>


						<div class="form-group">
							<label class="col-md-2 control-label">Assigned to</label>
							<div class="col-md-10">
								<select id="username" name="username"
									class="form-control select" data-live-search="true">
									<option value="nobody">Nobody</option>
									<option th:each="assigned : ${assigneds}"
										th:value="${assigned.username}" th:text="${assigned.name}"></option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" id="myFormSubmit" name="myFormSubmit"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save" aria-hidden="true"></span>Create
						Task
					</button>
					<!-- 	                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                        
 -->
				</div>
			</div>
		</div>
	</div>
	<!-- END CREATE TASK MODAL-->

	<!-- TASKS MODALS -->
	<div th:replace="modal/tasks_modals :: tasks_modals"></div>
	<!-- END TASKS MODALS -->

	<script type="text/javascript">
		function updateTaskStatus(taskId, status, currentstatus) {
			if(parseInt(currentstatus) > 1){
				window.location.assign('/tasks/project/' + $("#projectid").val()
						+ '/' + 'move/' + taskId + '/' + status + '/');
			}else{
				if($("#userassigned_" + taskId).val() == undefined){
					$("#showBacklogModal_" + taskId).trigger( "click" );
					return false;
				}else{
					window.location.assign('/tasks/project/' + $("#projectid").val()
							+ '/' + 'move/' + taskId + '/' + status + '/');
				}
			}
		}
	</script>





	<!-- START PRELOADS -->

	<audio id="audio-alert" th:src="@{/audio/alert.mp3}"></audio>
	<audio id="audio-fail" th:src="@{/audio/fail.mp3}"></audio>

	<!-- END PRELOADS -->

	<!-- FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- END FOOTER -->

	<!--  -->
	<script th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>
	<script th:src="@{/js/plugins/modal/modal-AJAX.js}"></script>

	<!-- START TEMPLATE -->
	<script th:src="@{/js/settings.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/actions.js}"></script>
	<script th:src="@{/js/portlet.js}"></script>
	<script th:src="@{/js/tasks_actions.js}"></script>
	<script th:src="@{/js/plugins/table/jquery.floatThead.min.js}"></script>
	<!-- END PAGE PLUGINS -->
	<!-- END SCRIPTS -->


	<script>
		/*
		$('.selectpicker').select(function (e) {
		    alert(e.target.value);
			   window.location.assign('/tasks/'+'project/'+e.target.value+'/');
			  

		});
		 */
	</script>


	<script type="text/javascript">
		window.onload = function() {

			//Head de estat de tasques sempre visible
			var $table = $('#tableTasks');
			$table.floatThead();
			
			//Validación formulario add task
			var addTaskFormValidator = $("#createtaskForm").validate({
				ignore : [],
				rules : {
					summary : {
						required : true
					},
					details : {
						required : true
					},
					time : {
						required : true
					},
					unit : {
						required : true
					}
				}
			});

		}

		$('#myFormSubmit').click(function(e) {
			e.preventDefault();

			if ($("#createtaskForm").valid()) {
				ajaxPost();
				$('#assign_project_modal').modal('hide');
			}
		});

		function ajaxPost() {
			// PREPARE FORM DATA
			var formData = {
				projectid : $("#projectid").val(),
				summary : $("#summary").val(),
				details : $("#details").val(),
				time : $("#time").val(),
				unit : $("#unit").val(),
				username : $("#username").val()
			}

			var token = document.getElementsByName("_csrf")[0].value;

			// DO POST
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "/api/createtask/",
				data : JSON.stringify(formData),
				dataType : 'json',
				beforeSend : function(request) {
					return request.setRequestHeader('X-CSRF-Token', token);
				},

				success : function(result) {
					if (result.status == "Done") {
						window.location.reload();
					} else {
					}
				},
				error : function(e) {

				}
			});
		}

		/*
		$(".dateChanger").click(function () {
		    var d = $(this).attr("data-username");
		    var re ='<input class="form-control" type="text" value="'+ d +'" name="username" id="username" th:object="${formAssignToProject}" />';
		    
		    jQuery('#divuser').html(re);
		});
		 */
	</script>
</body>
</html>
