<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
	<!-- START PAGE CONTAINER -->
	<div class="page-container">
		<!-- START PAGE SIDEBAR -->
		<div th:replace="layout/layout :: page-sidebar"></div>
		<!-- END PAGE SIDEBAR -->
		
		<!-- PAGE CONTENT -->
		<div class="page-content sortableContent" id="grid_content_1">
			<!-- START X-NAVIGATION VERTICAL -->
			<ul th:replace="layout/layout :: page-topbar"></ul>
			<!-- END X-NAVIGATION VERTICAL -->
			
			<!-- PAGE TITLE -->
			<div class="page-title">
				<h2>
					<br/>
					<span class="fa fa-arrow-circle-o-left"></span> Kanban Tasks
				</h2>
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" data-toggle="modal" data-target="#create_task_modal">Create Task</button>
			</div>
			<!-- END PAGE TITLE -->
		</div>
		<!-- END PAGE CONTENT -->
	</div>
	
	<!-- CREATE TASK MODAL -->
	<div class="modal" id="create_task_modal" tabindex="-1" role="dialog"
		aria-labelledby="#create_task_modal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="largeModalHead">Create Task</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="createtaskForm"
						name="createtaskForm" method="POST" action="#"
						th:action="@{/api/createtask/}">
						<input type="hidden" name="projectid" id="projectid"
							th:value="${projectid}" />

						<div class="form-group">
							<label class="col-md-2 control-label">Summary</label>
							<div class="col-md-10">
								<input class="form-control" id="summary" name="summary"
									type="text" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Task Details</label>
							<div class="col-md-10">
								<textarea class="form-control" id="details" name="details"
									rows="5"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Estimated time</label>
							<div class="col-md-10">
								<select class="form-control select" id="time" name="time"
									>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
								</select>
							</div>
						</div>

						
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" id="myFormSubmit" name="myFormSubmit"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save" aria-hidden="true"></span>Create
						Task
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END CREATE TASK MODAL-->
	
	<footer th:replace="layout/layout :: footer"></footer>
	
	<script th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>
</body>
</html>