<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>Atlant - Responsive Bootstrap Admin Template</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link id="theme" href="#" th:href="@{/css/theme-default.css}" rel="stylesheet" />
        <!-- EOF CSS INCLUDE -->                                           
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <!-- START PAGE SIDEBAR -->
            <div  th:replace="layout/layout :: page-sidebar"></div>
            <!-- END PAGE SIDEBAR -->
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content sortableContent" id="grid_content_1">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                    <li class="xn-search">
                        <form role="form">
                            <input type="text" name="search" placeholder="Search..."/>
                        </form>
                    </li>   
                    <!-- END SEARCH -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>                        
                    </li> 
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-comments"></span></a>
                        <div class="informer informer-danger">4</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>                                
                                <div class="pull-right">
                                    <span class="label label-danger">4 new</span>
                                </div>
                            </div>
                            <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                                    <span class="contacts-title">John Doe</span>
                                    <p>Praesent placerat tellus id augue condimentum</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-away"></div>
                                    <img src="assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                                    <span class="contacts-title">Dmitry Ivaniuk</span>
                                    <p>Donec risus sapien, sagittis et magna quis</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-away"></div>
                                    <img src="assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                                    <span class="contacts-title">Nadia Ali</span>
                                    <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-offline"></div>
                                    <img src="assets/images/users/user6.jpg" class="pull-left" alt="Darth Vader"/>
                                    <span class="contacts-title">Darth Vader</span>
                                    <p>I want my money back!</p>
                                </a>
                            </div>     
                            <div class="panel-footer text-center">
                                <a href="pages-messages.html">Show all messages</a>
                            </div>                            
                        </div>                        
                    </li>
                    <!-- END MESSAGES -->
                    <!-- TASKS -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-tasks"></span></a>
                        <div class="informer informer-warning">3</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>                                
                                <div class="pull-right">
                                    <span class="label label-warning">3 active</span>
                                </div>
                            </div>
                            <div class="panel-body list-group scroll" style="height: 200px;">                                
                                <a class="list-group-item" href="#">
                                    <strong>Phasellus augue arcu, elementum</strong>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                    </div>
                                    <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>
                                </a>
                                <a class="list-group-item" href="#">
                                    <strong>Aenean ac cursus</strong>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                                    </div>
                                    <small class="text-muted">Dmitry Ivaniuk, 24 Sep 2014 / 80%</small>
                                </a>
                                <a class="list-group-item" href="#">
                                    <strong>Lorem ipsum dolor</strong>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">95%</div>
                                    </div>
                                    <small class="text-muted">John Doe, 23 Sep 2014 / 95%</small>
                                </a>
                                <a class="list-group-item" href="#">
                                    <strong>Cras suscipit ac quam at tincidunt.</strong>
                                    <div class="progress progress-small">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                                    </div>
                                    <small class="text-muted">John Doe, 21 Sep 2014 /</small><small class="text-success"> Done</small>
                                </a>                                
                            </div>     
                            <div class="panel-footer text-center">
                                <a href="pages-tasks.html">Show all tasks</a>
                            </div>                            
                        </div>                        
                    </li>
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                   
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">pmtool</a></li>
                    <li class="active">kanban</li>
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Kanban Tasks</h2>
                </div>
                <div class="panel-footer">
			          <button class="btn btn-default" data-toggle="modal" data-target="#create_task_modal">Create Task</button>                                
			                                         
			   </div>
                <!-- END PAGE TITLE -->   
                                
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <!-- START PORTLET -->
                    <div class="row scRow">
                        <div class="col-md-3 scCol droptarget" id="backlog" name="backlog" data-task_status="backlog">
                        		<h3>BackLog</h3>                        		
						   <div class="panel panel-danger" draggable="true" th:value="${backlog.id}" th:name="${backlog.id}"   th:attr="data-id_task=${backlog.id}"   th:each="backlog : ${backlogs}">
                                <div class="panel-heading">                                        
                                    <h3 class="panel-title"><span th:text="${backlog.summary}"></span></h3>
                                </div>
                                <div class="panel-body" >
                                    <span th:text="${backlog.details}"></span>
                                </div>
                                <!-- 
                                <div class="panel-footer" >
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia
                                </div>
                                -->
                            </div>
                        </div>
                        
                        <div class="col-md-3 scCol droptarget"  id="todo" name="todo"  data-task_status="todo">
                        <h3>To Do</h3>

						   <div class="panel panel-warning" draggable="true" th:value="${todo.id}" th:name="${todo.id}"   th:attr="data-id_task=${todo.id}"   th:each="todo : ${todos}">
                                <div class="panel-heading">                                        
                                    <h3 class="panel-title"><span th:text="${todo.summary}"></span></h3>
                                </div>
                                <div class="panel-body">
                                    <span th:text="${todo.details}"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 scCol droptarget"  id="progress" name="progress"  data-task_status="progress">
                        <h3>In Progress</h3>

						   <div class="panel panel-info" draggable="true" th:value="${progress.id}" th:name="${progress.id}"   th:attr="data-id_task=${progress.id}"   th:each="progress : ${progresses}">
                                <div class="panel-heading">                                        
                                    <h3 class="panel-title"><span th:text="${progress.summary}"></span></h3>
                                </div>
                                <div class="panel-body">
                                    <span th:text="${progress.details}"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 scCol droptarget"  id="done" name="done"  data-task_status="done">
                        <h3>Done</h3>

						   <div class="panel panel-success" draggable="true" th:value="${done.id}" th:name="${done.id}"   th:attr="data-id_task=${done.id}"   th:each="done : ${dones}">
                                <div class="panel-heading">                                        
                                    <h3 class="panel-title"><span th:text="${done.summary}"></span></h3>
                                </div>
                                <div class="panel-body">
                                    <span th:text="${done.details}"></span>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                                   
                    <!-- END PORTLET --> 
                
                </div>
                <!-- PAGE CONTENT WRAPPER -->                                                
            </div>    
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- CREATE TASK MODAL -->

 		<div class="modal" id="create_task_modal" tabindex="-1" role="dialog" aria-labelledby="#create_task_modal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="largeModalHead">Create Task</h4>
                    </div>
                    <div class="modal-body">
                    			<form class="form-horizontal" role="form" id="createtaskForm" name="createtaskForm"  method="POST" action="#" th:action="@{/api/createtask/}" >
                                		<input type="hidden" name="projectid" id="projectid"  th:value="${projectid}"/>
                                		                                
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Summary</label>
                                        <div class="col-md-10">
                                            <input class="form-control" id="summary" name="summary" value="Some text value..." type="text" />
                                        </div>
                                    </div>
                                    
                                   <div class="form-group">
                                        <label class="col-md-2 control-label">Task Details</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control"  id="details" name="details"  rows="5"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Estimated time</label>
                                        <div class="col-md-4">                                                                                
                                            <select class="form-control select"  id="time" name="time"  data-live-search="true">
                                                <option value="1" >1</option>
                                                <option value="2" >2</option>
                                                <option value="3" >3</option>
                                                <option value="4" >4</option>
                                                <option value="5" >5</option>
                                                <option value="6" >6</option>
                                                <option value="7" >7</option>
                                                <option value="8" >8</option>
                                                <option value="9" >9</option>
                                                <option value="10" >10</option>
                                                <option value="11" >11</option>                                                <option>1 day</option>
                                                <option value="12">12</option>
                                                <option value="13" >13</option>  
                                                <option value="14" >14</option>
                                                <option value="15" >15</option>  
                                                <option value="16" >16</option>
                                                <option value="17" >17</option>  
                                                <option value="18" >18</option>
                                                <option value="19" >19</option>                                                  
                                                <option value="20" >20</option>
                                                <option value="21" >21</option>                                                  
                                                <option value="22" >22</option>
                                                <option value="23" >23</option>                                                  
                                                <option value="24" >24</option>                                                
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Unit</label>
                                        <div class="col-md-4">                                                                                
                                            <select class="form-control select"  id="unit" name="unit" data-live-search="true">
                                                <option value="1" >hours</option>
                                                <option value="8" >days</option>
                                                <option value="40" >weeks</option>                                             
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Assigned to</label>
                                        <div class="col-md-10">                                                                                
                                            <select  id="username" name="username"   class="form-control select" data-live-search="true">
													<option value="nobody">Nobody</option>
													<option th:each="assigned : ${assigneds}" 
														th:value="${assigned.username}" th:text="${assigned.name}"></option>
											</select> 
                                        </div>
                                    </div>
                                    
                                                                    
                                </form>
                        
                        
                        
                        
                    </div>
                    <div class="modal-footer">
	                    <button type="submit" id="myFormSubmit" name="myFormSubmit" class="btn btn-primary"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>Create Task</button>
<!-- 	                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                        
 -->	                    </div>
                </div>
            </div>
        </div> 
        <!-- END CREATE TASK MODAL-->
        
        
        
        
        
        
        
    
		
        <script type="text/javascript">
	        function updateTaskStatus(taskId, status){
			   window.location.assign('/tasks/project/'+ $("#projectid").val() +'/'+'move/'+taskId+'/'+status+'/');
			}
	        
	      
        
        </script>
       
        
      
 	

        <!-- START PRELOADS -->

        <audio id="audio-alert" th:src="@{/audio/alert.mp3}"></audio>
        <audio id="audio-fail" th:src="@{/audio/fail.mp3}"></audio>
        
        <!-- END PRELOADS -->                        
        
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
        <script th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script>      
        <!-- END PLUGINS -->
        
        <!-- THIS PAGE PLUGINS -->
        <script th:src="@{/js/plugins/icheck/icheck.min.js}"></script>	
 	    <script th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>	
 	   <script th:src="@{/js/plugins/bootstrap/bootstrap-datepicker.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-timepicker.min.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-colorpicker.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-file-input.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>	
 	        	<script th:src="@{/js/plugins/tagsinput/jquery.tagsinput.min.js}"></script>	
        <!-- END PAGE PLUGINS -->        
        
        <!-- START TEMPLATE -->
        <script th:src="@{/js/settings.js}"></script>
        	<script th:src="@{/js/plugins.js}"></script>
        	<script th:src="@{/js/actions.js}"></script>
 		<script th:src="@{/js/portlet.js}"></script>	
        <!-- END PAGE PLUGINS -->        
    <!-- END SCRIPTS -->         
    
    
    <script>
    
    $('.selectpicker').select(function (e) {
        alert(e.target.value);
		   window.location.assign('/tasks/'+'project/'+e.target.value+'/');
		  

    });
    </script>
    
     
        <script type="text/javascript">
	        $('#myFormSubmit').click(function(e){
	            e.preventDefault();
	            ajaxPost();
	            $('#assign_project_modal').modal('hide');
	           });
	        
	       	function ajaxPost(){
	        	// PREPARE FORM DATA
	        	var formData = {
	        			projectid  : $("#projectid").val(),
	        			summary : $("#summary").val(),
	        			details : $("#details").val(),
	        			time : $("#time").val(),
	        			unit : $("#unit").val()	,
	        			username : $("#username").val()
				}
	        	
	        	
	        	var token = document.getElementsByName("_csrf")[0].value;
	   		
	   
	        	
	        	// DO POST
	        	$.ajax({
	    			type : "POST",
	    			contentType : "application/json",
	    			url : "/api/createtask/",
	    			data : JSON.stringify(formData),
	    			dataType : 'json',
	    			beforeSend: function(request) {
	    		        return request.setRequestHeader('X-CSRF-Token', token);
	    		    },
	    		    
	    			success : function(result) {
	    				if(result.status == "Done"){
	    					window.location.reload();
	    				}else{
	    				}
	    			},
	    			error : function(e) {
	    				
	    			}
	    		});        		
	        	}
        
        
        
	        $(".dateChanger").click(function () {
	            var d = $(this).attr("data-username");
		        var re ='<input class="form-control" type="text" value="'+ d +'" name="username" id="username" th:object="${formAssignToProject}" />';
		        
		        jQuery('#divuser').html(re);
	        });
        
        </script>
    

     
    
    
        
    </body>
</html>
