<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
	<!-- START PAGE CONTAINER -->
	<div class="page-container">

		<!-- START PAGE SIDEBAR -->
		<div th:replace="layout/layout :: page-sidebar"></div>
		<!-- END PAGE SIDEBAR -->

		<!-- PAGE CONTENT -->
		<div class="page-content">

			<!-- START X-NAVIGATION VERTICAL -->
			<ul th:replace="layout/layout :: page-topbar"></ul>
			<!-- END X-NAVIGATION VERTICAL -->

			<div class="col-xs-12" style="height: 20px;"></div>

			<div class="page-title">
				<h2>
					<span class="fa fa-plus-square"></span> Add project
				</h2>
			</div>


			<!-- PAGE CONTENT WRAPPER -->
			<div class="page-content-wrap">
				<div class="row">
					<div class="col-md-12">
						<div id="clientAddSuccesAlert" style="display: none;" >
							<br /> <br />
							<div class="alert alert-success" role="alert">
								<strong>Success!</strong> Customer added correctly.
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="projectAddFormErrors" style="display: none;" >
							<br /> <br />
							<div class="alert alert-danger" role="alert">
								<strong>Ups!</strong> Some fields do not have a valid value.
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<!-- START WIZARD WITH SUBMIT BUTTON -->
						<div class="block">
							<form name="formnewproject" id="formnewproject" role="form"
								class="form-horizontal" th:action="@{/projects/saveproject}"
								th:object="${formNewProjectModel}" method="POST">

								<div class="wizard show-submit">
									<ul>
										<li><a href="#step-5"> <span class="stepNumber">1</span>
												<span class="stepDesc">Project<br /> 
												<small>Project description</small></span>
										</a></li>
										<li><a href="#step-6"> <span class="stepNumber">2</span>
												<span class="stepDesc">Finance<br /> 
												<small>Financial data</small></span>
										</a></li>
										<li><a href="#step-7"> <span class="stepNumber">3</span>
												<span class="stepDesc">Project plan<br /> 
												<small>Basic project plan</small></span>
										</a></li>
									</ul>
									<div id="step-5">
										<div class="form-group">
											<label class="col-md-2 control-label">Project name</label>
											<div class="col-md-10">
												<input name="projectname" id="projectname" type="text"
													class="form-control"
													required="true" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-2 control-label">Goals</label>
											<div class="col-md-10">
												<textarea name="objectives" id="objectives"
													class="form-control" rows="5" ></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-2 control-label">Wbs</label>
											<div class="col-md-10">
												<input type="text" name="wbs" id="wbs" class="form-control" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-2 control-label">PMO</label>
											<div class="col-md-10">
												<select name="pmo" id="pmo"
													class="form-control select" data-live-search="true">
													<option selected="true"></option>
													<option th:each="pmo : ${pmos}"
														th:value="${pmo.username}" th:text="${pmo.name}"></option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-2 control-label">Customer</label>
											<div class="col-md-9">
												<select name="customer_id" id="customer_id"
													class="form-control select" data-live-search="true">
													<option selected="true"></option>
													<option th:each="customer : ${customers}"
														th:value="${customer.id}" th:text="${customer.customer}"></option>
												</select>
											</div>
											<div class="col-md-1">
												<ul class="panel-controls">
													<li><a role="button"><span
															class="glyphicon glyphicon-plus"
															id="addCustomerModalButton"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div id="step-6">

										<div class="col-md-6">
											<div class="form-group">
												<label class="col-md-5 control-label">Total Contract
													Value (TCV) - Baseline</label>
												<div class="col-md-5">
													<input name="TVC" id="TVC" type="number"
														class="form-control" value="0" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-5 control-label">Total Internal
													Cost (TIC) - Baseline</label>
												<div class="col-md-5">
													<input name="TIC" id="TIC" type="number"
														class="form-control" value="0" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-5 control-label">OP (P&amp;L) -
													Baseline</label>
												<div class="col-md-5">
													<input name="OP" id="OP" type="number" class="form-control"
														value="0" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-5 control-label">Budget spent till the date</label>
												<div class="col-md-5">
													<input name="budgettodate" id="budgettodate" type="number"
														class="form-control" value="0" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-5 control-label">Cost estimate at closing</label>
												<div class="col-md-5">
													<input name="costestimated" id="costestimated"
														type="number" class="form-control" value="0" />
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<label class="col-md-5 control-label">EAC OP
													(P&amp;L) %</label>
												<div class="col-md-5">
													<input name="EACOP" id="EACOP" type="number"
														class="form-control" value="0" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-5 control-label">Variance
													(TCV-EAC) </label>
												<div class="col-md-5">
													<input name="variance" id="variance" type="number"
														class="form-control" value="0" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-5 control-label">Total Avance certificate %</label>
												<div class="col-md-5">
													<input name="certifiedprogress" id="certifiedprogress"
														type="number" class="form-control" value="0" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-5 control-label">Total billed to date</label>
												<div class="col-md-5">
													<input name="invoiced" id="invoiced" type="number"
														class="form-control" value="0" />
												</div>
											</div>
										</div>
									</div>
									<div id="step-7">
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-md-3 control-label">Kick-Off</label>
												<div class="col-md-3">
													<input name="start" id="start" type="text"
														class="form-control datepicker" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-3 control-label">Go-live</label>
												<div class="col-md-3">
													<input name="end" id="end" type="text"
														class="form-control datepicker" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- END WIZARD WITH SUBMIT BUTTON -->
					</div>
				</div>

			</div>
			<!-- END PAGE CONTENT WRAPPER -->

		</div>

		<!-- ADD CUSTOMER MODAL -->
		<div id="addCustomer" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add customer</h4>
					</div>
					<div class="modal-body">
						<form id="addCustomerForm">
							<div class="row">
								<div class="col-md-3">
									<label>Customer name: </label>
								</div>

								<div class="col-md-9">
									<input type="text" class="form-control" id="customerNameInput"
										name="customerNameInput" />
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default submitAJAXModal"
							id="addCustomerButton">Save</button>
					</div>
				</div>
			</div>
		</div>

		<script>
			window.onload = function() {
				
				document.getElementsByName("TVC")[0].addEventListener('change',
						calc);
				document.getElementsByName("TIC")[0].addEventListener('change',
						calc);
				document.getElementsByName("costestimated")[0].addEventListener(
						'change', calc);
	
				function calc() {
					var tcv = $('#TVC').val();
					var tic = $('#TIC').val();
					var costestimated = $('#costestimated').val();
	
					var op = (1 - tic / tcv) * 100;
					
					if(isNaN(op)){
	        			op = 0;
	        		}
					
					$('#OP').val(parseFloat(op).toFixed(2));
	
					var eacop = (1 - costestimated / tcv) * 100;
					
					if(isNaN(eacop)){
	        			eacop = 0;
	        		}
					
					$('#EACOP').val(parseFloat(eacop).toFixed(2));
	
					var variance = parseFloat(tcv-costestimated).toFixed(2);
	        		
	        		if(isNaN(variance)){
	        			variance = 0;
	        		}
					
					$('#variance').val(variance);
				}
				
				$("#formnewproject").submit(
						function(event) {
							//Validación add project form
							var newProjectFormValidator = $("#formnewproject")
									.validate({
										ignore : [],
										rules : {
											projectname : {
												required : true
											},
											objectives : {
												required : true
											},
											wbs : {
												required : true
											},
											customer_id : {
												required : true
											},
											TVC : {
												required : true
											},
											TIC : {
												required : true
											},
											OP : {
												required : true
											},
											budgettodate : {
												required : true
											},
											costestimated : {
												required : true
											},
											EACOP : {
												required : true
											},
											variance : {
												required : true
											},
											certifiedprogress : {
												required : true
											},
											invoiced : {
												required : true
											},
											start : {
												required : true
											},
											end : {
												required : true
											},
											pmo : {
												required : true
											}
										}
									});

							if (!($("#formnewproject").valid())) {
								event.preventDefault();
								$("#projectAddFormErrors").show(100);
							}else{
								$("#projectAddFormErrors").hide();
							}
						});

				$("#addCustomerModalButton").AJAXmodal(
						{
							idModal : "addCustomer",
							copyData : function() {
								$("#clientAddSuccesAlert").hide();
							},
							url : "/api/createcustomer/",
							formData : function() {
								var data = {
									customer : $('#customerNameInput').val()
								}

								return data;
							},
							ajaxSucces : function(response) {
								$("#customer_id").append(
										"<option value=" + response.data + ">"
												+ $("#customerNameInput").val()
												+ "</option>");
								$("#customer_id").val(response.data);
								$("#customer_id").selectpicker("refresh");

								$("#customerNameInput").val('');
								$("#addCustomer").modal('toggle');

								$("#clientAddSuccesAlert").show(100);
							},
							disableButton : false,
							FormValid : function() {
								var customerFormValidator = $(
										"#addCustomerForm").validate({
									ignore : [],
									rules : {
										customerNameInput : {
											required : true
										}
									}
								});
								
								return $("#addCustomerForm").valid();
							},
							preventForm : true,
							formId : "addCustomerForm"
						});
			}
		</script>

		<!-- END ADD CUSTOMER MODAL -->

		<footer th:replace="layout/layout :: footer"></footer>

		<!-- THIS PAGE PLUGINS -->
		<script th:src="@{/js/plugins/icheck/icheck.min.js}"></script>
		<script
			th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>

		<script th:src="@{/js/plugins/bootstrap/bootstrap-datepicker.js}"></script>
		<script th:src="@{/js/plugins/bootstrap/bootstrap-timepicker.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap/bootstrap-colorpicker.js}"></script>
		<script th:src="@{/js/plugins/bootstrap/bootstrap-file-input.js}"></script>
		<script th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>
		<script th:src="@{/js/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
		<script th:src="@{/js/plugins/modal/modal-AJAX.js}"></script>

		<!-- END THIS PAGE PLUGINS -->

		<!-- THIS PAGE PLUGINS -->
		<script type='text/javascript'
			th:src="@{/js/plugins/icheck/icheck.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>

		<script type="text/javascript"
			th:src="@{/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
		<!-- END PAGE PLUGINS -->
		
	</div>
</body>
</html>
