<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div  th:replace="layout/layout :: page-sidebar"></div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->                    
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Link</a></li>                    
                    <li class="active">Active</li>
                </ul>
                <!-- END BREADCRUMB -->                
                
                <div class="page-title">                    
                    <h2><span class="fa fa-plus-square"></span> Alta de proyecto</h2>
                </div>               
                
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                        
                         <!-- START WIZARD WITH SUBMIT BUTTON -->
                            <div class="block">
                                <h4>Wizard Alta Básica de Proyectot</h4>                        
                                <form action="javascript:document.getElementById('formnewproject').submit();" name="formnewproject" id="formnewproject" role="form" class="form-horizontal" th:action="@{/projects/saveproject}" th:object="${formNewProjectModel}" method="POST">
                                 
                                <div class="wizard show-submit">                                
                                    <ul>
                                        <li>
                                            <a href="#step-5">
                                                <span class="stepNumber">1</span>
                                                <span class="stepDesc">Proyecto<br /><small>Descripción del proyecto</small></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#step-6">
                                                <span class="stepNumber">2</span>
                                                <span class="stepDesc">Finanzas<br /><small>Datos Financieros</small></span>
                                            </a>
                                        </li>    
                                        <li>
                                            <a href="#step-7">
                                                <span class="stepNumber">3</span>
                                                <span class="stepDesc">Plan<br /><small>Plan Básico de proyecto</small></span>
                                            </a>
                                        </li>                                  
                                    </ul>
                                    <div id="step-5">   
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Nombre de Proyecto</label>
                                            <div class="col-md-10">
                                                <input name="projectname" id="projectname" type="text" class="form-control" placeholder="Your name"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Objetivos</label>
                                            <div class="col-md-10">
                                                <textarea  name="objectives" id="objectives" class="form-control" rows="5" placeholder="Something about you"></textarea>
                                            </div>
                                        </div>                                    
                                    </div>
                                    <div id="step-6">
                                    
                                    		<div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="col-md-5 control-label">Total Contract Value (TCV) - Baseline</label>
	                                            <div class="col-md-5">
	                                                <input name="TVC" id="TVC" type="text" class="form-control" />
	                                            </div>
	                                        </div>
	                                        <div class="form-group">
	                                            <label class="col-md-5 control-label">Total Internal Cost (TIC) - Baseline</label>
	                                            <div class="col-md-5">
	                                                <input name="TIC" id="TIC" type="text" class="form-control" />
	                                            </div>
	                                        </div>                                    
	                                        <div class="form-group">
	                                            <label class="col-md-5 control-label">OP (PL) - Baseline</label>
	                                            <div class="col-md-5">
	                                                <input name="OP" id="OP" type="text" class="form-control" />
	                                            </div>
	                                        </div>  
	                                        <div class="form-group">
	                                            <label class="col-md-5 control-label">Budget gastado hasta la fecha</label>
	                                            <div class="col-md-5">
	                                                <input name="budgettodate" id="budgettodate" type="text" class="form-control" />
	                                            </div>
	                                        </div> 
	                                        <div class="form-group">
	                                            <label class="col-md-5 control-label">Estimación de coste al cierre</label>
	                                            <div class="col-md-5">
	                                                <input name="costestimated" id="costestimated" type="text" class="form-control" />
	                                            </div>
	                                        </div> 
                                        </div>
                                        
                                        <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="col-md-5 control-label">EAC OP (PL) %</label>
	                                            <div class="col-md-5">
	                                                <input name="EACOP" id="EACOP" type="text" class="form-control" />
	                                            </div>
	                                        </div>
	                                        <div class="form-group">
	                                            <label class="col-md-5 control-label">Variance (TCV-EAC) </label>
	                                            <div class="col-md-5">
	                                                <input name="variance"  id="variance" type="text" class="form-control" />
	                                            </div>
	                                        </div>                                    
	                                        <div class="form-group">
	                                            <label class="col-md-5 control-label">Total Avance Certificado %</label>
	                                            <div class="col-md-5">
	                                                <input name="certifiedprogress" id="certifiedprogress" type="text" class="form-control"/>
	                                            </div>
	                                        </div>  
	                                        <div class="form-group">
	                                            <label class="col-md-5 control-label">Total Facturado hasta la fecha</label>
	                                            <div class="col-md-5">
	                                                <input name="invoiced"  id="invoiced" type="text" class="form-control"/>
	                                            </div>
	                                        </div>  
                                        </div>                                                                                                                   
                                    </div>  
                                    <div id="step-7">
                                    		<div class="col-md-6">   
	                                        <div class="form-group">
	                                            <label class="col-md-3 control-label">Kick-Off</label>
	                                            <div class="col-md-3">
	                                                 <input name="start" id="start"  type="text" class="form-control datepicker" value="2014-11-01" />                                            
	                                            </div>
	                                        </div>
	                                        <div class="form-group">
	                                            <label class="col-md-3 control-label">Go-live</label>
	                                            <div class="col-md-3"> 
	                                            		<input name="end" id="end"  type="text" class="form-control datepicker" value="2014-11-01" />                                            
	                                            </div>
	                                        </div>
                                    		</div>
                                 	</div>
                                </div>
                                </form>
                            </div>                        
                            <!-- END WIZARD WITH SUBMIT BUTTON -->
                            
                            
                           
                            
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->  
                
                
                

                
                
                
                
			    
                
            </div>    
        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

 	<footer th:replace="layout/layout :: footer"></footer>
 	
 	<!-- THIS PAGE PLUGINS -->
 	        	<script th:src="@{/js/plugins/icheck/icheck.min.js}"></script>	
 	        	<script th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
 	        	
 	       	<script th:src="@{/js/plugins/bootstrap/bootstrap-datepicker.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-timepicker.min.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-colorpicker.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-file-input.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>	
 	        	<script th:src="@{/js/plugins/tagsinput/jquery.tagsinput.min.js}"></script>	
        
       
        <!-- END THIS PAGE PLUGINS -->  
        
         <!-- THIS PAGE PLUGINS -->    
	        <script type='text/javascript' th:src="@{/js/plugins/icheck/icheck.min.js}"></script>
	        <script type="text/javascript" th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
	        
	        <script type="text/javascript" th:src="@{/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js}"></script>        
	        <script type="text/javascript" th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
        <!-- END PAGE PLUGINS -->
             
        
        <!-- START TEMPLATE -->
 	        	<script th:src="@{/js/settings.jss}"></script>	
        <!-- END TEMPLATE -->
        </div>
    </body>
</html>
