<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div  th:replace="layout/layout :: page-sidebar"></div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul th:replace="layout/layout :: page-topbar">
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     
                
                <div class="page-title margin-top-15">                    
                    <h2><i class="material-icons">work</i> Your projects  <span th:text="${nameuser}"></span></h2>
                </div>               
                
                 <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                        		                          <!-- START SIMPLE DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">Projects</h3>   
                                                                    
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th width="10%" style="text-align:center;">Project ID</th>
                                                <th width="15%" style="text-align:center;">Project Name</th>
                                                <th width="18%" style="text-align:center;">Project Manager</th>
                                                <th width="8%" style="text-align: center;">TCV</th>
												<th width="8%"  style="text-align: center;">TIC</th>
												<th width="10%" style="text-align: center;">OP(P&amp;L)</th>
												<th width="10%" style="text-align: center;">Estimated Cost</th>
												<th width="10%" style="text-align: center;">EAC OP (P&amp;L)</th>
												<th width="10%" style="text-align: center;">Variance (TCV-EAC)</th>
												<th width="10%" style="text-align: center;">Certified Progress</th>
                                                <th  style="text-align:center;">Project Status</th>
                                                <th  style="text-align:center;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           	<tr	th:each="project : ${projects}">
												<td th:text="${project.id}" align="center"></td>
												<td th:text="${project.projectname}"></td>
												<td th:text="${project.user.name}"></td>
												<td
													th:text="${#numbers.formatDecimal(project.TVC, 1, 'POINT', 0, 'COMMA')}+' €'"
													align="center"></td>
												<td
													th:text="${#numbers.formatDecimal(project.TIC, 1, 'POINT', 0, 'COMMA')}+' €'"
													align="center"></td>
												<td align="center"><span class="badge badge-info"
													th:text="${#numbers.formatDecimal(project.OP, 1, 'POINT', 2, 'COMMA')}+' %'">2018-01-30</span></td>
												<td
													th:text="${#numbers.formatDecimal(project.costestimated, 1, 'POINT', 0, 'COMMA')}+' €'"
													align="center"></td>

												<td align="center"><span class="badge badge-info"
													th:text="${#numbers.formatDecimal(project.EACOP, 1, 'POINT', 2, 'COMMA')}+' %'">2018-01-30</span></td>

												<td
													th:text="${#numbers.formatDecimal(project.variance, 1, 'POINT',0, 'COMMA')}+' €'"
													align="center"></td>
												<td align="center">
													<div class="progress">
													
													<div th:switch="${project.projectStatus.statusname}"> 
														<span th:case="G">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0"	 aria-valuemax="100"	th:style="'width:'+${project.certifiedprogress}+'%;'">
																<span class="num-count"	th:text="${#numbers.formatDecimal(project.certifiedprogress, 1, 'POINT', 0, 'COMMA')}">20</span>% Complete
															</div>
														</span>
														<span th:case="Y">
															<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0"	 aria-valuemax="100"	th:style="'width:'+${project.certifiedprogress}+'%;'">
																<span class="num-count"	th:text="${#numbers.formatDecimal(project.certifiedprogress, 1, 'POINT', 0, 'COMMA')}">20</span>% Complete
															</div>
														</span>
														<span th:case="R">
															<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0"	 aria-valuemax="100"	th:style="'width:'+${project.certifiedprogress}+'%;'">
																<span class="num-count"	th:text="${#numbers.formatDecimal(project.certifiedprogress, 1, 'POINT', 0, 'COMMA')}">20</span>% Complete
															</div>
														</span>
														
													</div>
													</div>
												</td>
												
												<td align="center">
													<div th:switch="${project.projectStatus.statusname}"> 
													  <span th:case="G"><button type="button" class="btn btn-success btn-rounded">Green</button></span>
													  <span th:case="Y"><button type="button" class="btn btn-warning btn-rounded">Yellow</button></span>
													  <span th:case="R"><button type="button" class="btn btn-danger btn-rounded">Red</button></span> 
													</div>
												</td>
												<!-- <td align="center">
													<a href="#" th:href="@{/projects/project/__${project.id}__/}" >
														<button  type="button" class="btn btn-primary"><span class="fa fa-wrench" aria-hidden="true"></span>Manage</button>
													</a>
												</td> -->
												<td style="text-align: center;">
													<div class="btn-group">
														<div class="btn-group" align="center">
															<a href="#" data-toggle="dropdown"
																class="btn btn-primary dropdown-toggle">Actions <span
																class="caret"></span></a>
															<ul class="dropdown-menu" role="menu">
																<li><a href="#" th:href="@{/projects/project/__${project.id}__/}" >
																		Manage Project
																	</a>
																</li>
																<li>
																	<a href="#" th:href="@{/projects/project/__${project.id}__/print/}" >
																		Create Report
																	</a>
																</li>
															</ul>
														</div>
														<!-- END ACTION BUTTONS -->
													</div>
												</td>
											</tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END SIMPLE DATATABLE -->
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                       
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

 	<footer th:replace="layout/layout :: footer"></footer>
 	
 	<!-- THIS PAGE PLUGINS -->
 	        	<script th:src="@{/js/plugins/icheck/icheck.min.js}"></script>	
 	        	<script th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
 	        	
 	       	<script th:src="@{/js/plugins/bootstrap/bootstrap-datepicker.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-timepicker.min.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-colorpicker.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-file-input.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>	
 	        	<script th:src="@{/js/plugins/tagsinput/jquery.tagsinput.min.js}"></script>	
        
       
        <!-- END THIS PAGE PLUGINS -->       
        
        <!-- THIS PAGE PLUGINS -->    
	        <script type='text/javascript' th:src="@{/js/plugins/icheck/icheck.min.js}"></script>
	        <script type="text/javascript" th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
	        
	        <script type="text/javascript" th:src="@{/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js}"></script>        
	        <script type="text/javascript" th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
	        <script type="text/javascript" th:src="@{/js/plugins/datatables/jquery.dataTables.min.js}"></script>    
        <!-- END PAGE PLUGINS -->
    </body>
</html>
