<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">

            <!-- START PAGE SIDEBAR -->
            <div  th:replace="layout/layout :: page-sidebar"></div>
            <!-- END PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="page-content">

                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->                    
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                                   

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Link</a></li>                    
                    <li class="active">Active</li>
                </ul>
                <!-- END BREADCRUMB -->       
                
                <div class="page-title">                    
                    <h2><span class="fa fa-thumbs-up"></span> Bienvenido  <span th:text="${username}"></span>!!!</h2>
                </div>               

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <!--CONTACTS ITEM-->
                            <div class="row">
                                <div class="col-md-3" th:each="user : ${users}">
                                    <!-- CONTACT ITEM -->
                                    <div class="panel panel-default">
                                        <div class="panel-body profile">
                                            <div class="profile-image">
                                                <img src="assets/images/users/user3.jpg" alt="Nadia Ali"/>
                                            </div>
                                            <div class="profile-data">
                                                <div class="profile-data-name"><span th:text="${user.name}"></span></div>
                                                <div class="profile-data-title"><span th:text="${user.username}"></span></div>
                                            </div>
                                        </div>                                
                                        <div class="panel-body">                                    
                                            <div class="contact-info">
                                                <form method="POST" action="#" th:action="@{/users/saveuser}" >
                                                	<input type="hidden" id="username" name="username" th:value="${user.username}" />
                                                    <p><large>Nombre</large><br /><input type="text" class="form-control" id="name" name="name" th:value="${user.name}" required="true" /></p>
                                                    <p><large>Salario</large><br/><input type="number" class="form-control" id="rate" name="rate" th:value="${user.rate}" min="0" required="true" /></p>
                                                    <p><large>Activo</large><br/><input type="checkbox" class="icheckbox" id="enabled" name="enabled" th:checked="${user.enabled}" /></p>
                                                    
                                                    <br /><br />
                                                    <p>
                                                    	<button type="submit" class="btn btn-primary">
                                                    		<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                                    		Guardar
                                                    	</button>
                                                    </p>
                                                </form>
                                                <form method="POST" action="#" th:action="@{/users/removeuser}" th:id="'deleteUserForm_' + ${user.username}" >
	                                            	<input type="hidden" id="username" name="username" th:value="${user.username}" />
	                                            	<button type="submit" class="btn btn-danger" >
		                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
		                                            	Eliminar
		                                            </button>
                                                </form>
                                                
                                                <br/>
                                                <form method="POST" th:action="@{/users/resetpassword}"  >
                                                	<input type="hidden" id="username" name="username" th:value="${user.username}" />
                                                	<p><large>Password</large><br/><input type="password" class="form-control" id="password" name="password" /></p>
                                                    <p><large>Confirmar</large><br/><input type="password" class="form-control" id="confirmPassword" name="confirmPassword" /></p>
                                                    
                                                    <input type="submit" />
                                                </form>
                                            </div>
                                        </div>                                
                                    </div>
                                    <!-- END CONTACT ITEM -->
                                </div>
                            </div>
                            <!--END CONTACTS ITEM-->
                        </div>
                    </div>                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                       
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <footer th:replace="layout/layout :: footer"></footer>

        <!-- THIS PAGE PLUGINS -->        
        <script th:src="@{/js/plugins/icheck/icheck.min.js}"></script>	
        <script th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>

        <script th:src="@{/js/plugins/bootstrap/bootstrap-datepicker.js}"></script>	
        <script th:src="@{/js/plugins/bootstrap/bootstrap-timepicker.min.js}"></script>	
        <script th:src="@{/js/plugins/bootstrap/bootstrap-colorpicker.js}"></script>	
        <script th:src="@{/js/plugins/bootstrap/bootstrap-file-input.js}"></script>	
        <script th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>	
        <script th:src="@{/js/plugins/tagsinput/jquery.tagsinput.min.js}"></script>	


        <!-- END THIS PAGE PLUGINS -->       
        <script type="text/javascript" src="js/plugins/knob/jquery.knob.min.js"></script>
        <script th:src="@{/js/plugins/knob/jquery.knob.min.js}"></script>	

        <!-- START TEMPLATE -->
        <script th:src="@{/js/settings.jss}"></script>	
        <!-- END TEMPLATE -->

    </body>
</html>