<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div  th:replace="layout/layout :: page-sidebar"></div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul th:replace="layout/layout :: page-topbar"></ul>
                <!-- END X-NAVIGATION VERTICAL -->                     
                
                <div class="page-title margin-top-15">                    
                    <h2><span class="fa fa-thumbs-up"></span> Welcome  <span th:text="${nameuser}"></span>!!!</h2>
                </div>               
                
                 <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <div class="col-md-3">                        
	                            <a href="#" th:href="@{/projects/__${username}__/}" class="tile tile-primary">
	                                <span th:text="${numprojects}"></span>
	                                <p>Tus Proyectos</p>
	                                <div class="informer informer-warning"><span class="fa fa-caret-down"></span></div>
	                                <div class="informer informer-default dir-tr"><span  th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy HH:mm')}"></span></div>
	                            </a>
                        		</div> -->
                        		<div class="row"><!-- START ROW -->
	                        		<div class="col-md-4">
	
		                            <div class="widget widget-primary">
		                                <div class="widget-subtitle">Your Active Projects</div>
		                                <div class="widget-subtitle"></div>
		                                
		                                <div class="widget-int"><span data-toggle="counter" data-to="1564" th:text="${numprojects}">1,564</span></div>
		                                <div class="widget-controls">
		                                    <a href="#" th:href="@{/projects/__${username}__/}" class="widget-control-right"><span class="fa fa-search"></span></a>
		                                </div>
		                            </div>
		
		                        </div>
	                        </div><!-- END ROW -->
                        		
                        		
                        		<div class="row"><!-- START ROW -->
	                        		<div class="col-md-4">
	
		                            <div class="widget widget-info widget-no-subtitle">
		                                <div class="widget-big-int"><span class="num-count" th:text="${#numbers.formatDecimal(sumValuesModel.sTVC, 0, 'POINT', 0, 'COMMA')}+ ' €'">1.200.000 €</span></div>                            
		                                <div class="widget-subtitle">Global Active Projects TCV</div>
		                            </div>                        
		
		                        </div>
		                        
		                        <div class="col-md-4">
	
		                            <div class="widget widget-danger widget-no-subtitle">
		                                <div class="widget-big-int"><span class="num-count" th:text="${#numbers.formatDecimal(sumValuesModel.sTIC, 0, 'POINT', 0, 'COMMA')}+ ' €'">888.000 €</span></div>                            
		                                <div class="widget-subtitle">Global Active Projects TIC</div>
		                            </div>                        
		
		                        </div>
	                        		
	                        		<div class="col-md-4">
	
		                            <div class="widget widget-success widget-padding-sm">                            
		                                <div class="widget-item-left">
		                                    <input class="knob" data-width="100" data-height="100" data-min="0" data-max="100"  
		                                     data-bgColor="#FFF" data-fgColor="#33414E" value="20%" data-readOnly="true" data-thickness=".2"
		                                      th:value="${#numbers.formatDecimal(sumValuesModel.OP, 1, 'POINT', 2, 'COMMA')}"/>
		                                </div> 
		                                <div class="widget-data">
		                                    <div class="widget-big-int"><span class="num-count" th:text="${#numbers.formatDecimal(sumValuesModel.OP, 1, 'POINT', 2, 'COMMA')}">20</span>%</div>
		                                    <div class="widget-title">Global OP Margin</div>
		                                    <div class="widget-subtitle">Active Projects</div>                                
		                                </div>                            
		                            </div>                        
	
	                        		</div>
                        		</div><!-- END ROW -->
                        		
                        		<div class="row"><!-- START ROW -->
	                        		<div class="col-md-4">
	
		                                                   
		
		                        </div>
		                        
		                        <div class="col-md-4">
	
		                            <div class="widget widget-danger widget-no-subtitle">
		                                <div class="widget-big-int"><span class="num-count" th:text="${#numbers.formatDecimal(sumValuesModel.scostestimated, 0, 'POINT',0, 'COMMA')}+ ' €'">888.000 €</span></div>                            
		                                <div class="widget-subtitle">Global Active Projects Cost Estimated</div>
		                            </div>                        
		
		                        </div>
	                        		
	                        		<div class="col-md-4">
	
		                            <div class="widget widget-warning widget-padding-sm">                            
		                                <div class="widget-item-left">
		                                    <input class="knob" data-width="100" data-height="100" data-min="0" data-max="100"   data-bgColor="#FFF" data-fgColor="#33414E" 
		                                    	value="20%" data-readOnly="true" data-thickness=".2" th:value="${#numbers.formatDecimal(sumValuesModel.EACOP, 1, 'POINT', 2, 'COMMA')}"/>
		                                </div> 
		                                <div class="widget-data">
		                                    <div class="widget-big-int"><span class="num-count" th:text="${#numbers.formatDecimal(sumValuesModel.EACOP, 1, 'POINT', 2, 'COMMA')}">20</span>%</div>
		                                    <div class="widget-title">Global EAC OP Margin</div>
		                                    <div class="widget-subtitle">Active Projects</div>                                
		                                </div>                            
		                            </div>                        
	
	                        		</div>
                        		</div><!-- END ROW -->
                        		
                        		
                        </div>
                    </div>                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                       
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

 	<footer th:replace="layout/layout :: footer"></footer>
 	
 	<!-- THIS PAGE PLUGINS -->
 	        	<script th:src="@{/js/plugins/icheck/icheck.min.js}"></script>	
 	        	<script th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
 	        	
 	       	<script th:src="@{/js/plugins/bootstrap/bootstrap-datepicker.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-timepicker.min.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-colorpicker.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-file-input.js}"></script>	
 	        	<script th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>	
 	        	<script th:src="@{/js/plugins/tagsinput/jquery.tagsinput.min.js}"></script>	
        
       
        <!-- END THIS PAGE PLUGINS -->       
         <script type="text/javascript" src="js/plugins/knob/jquery.knob.min.js"></script>
         <script th:src="@{/js/plugins/knob/jquery.knob.min.js}"></script>	
        
    </body>
</html>
